@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Nav */
/* .navigation a {

} */
.navigation a:hover{
    color: #fff !important;
}
.first-section {
    background-image: url(../img/hero-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

.first-title{
    width: 40%;
    line-height: 1.5;
    display: flex;
    /* justify-content: center; */
    padding: 80px ;
    font-size: 2.5em;
    font-family: "Roboto Slab", serif;
}
/* Deuxiéme section */
.titre, span{
    color: #e74c3c;
}
.section-get-icones{
    background-color: rgb(71, 71, 71);
    width: 20%;
    border-radius: 50%;
}
.section-get a {
    background-color: #fff;
    color:  #e74c3c;
}
/* FOOTER */
footer{
    background-color: #e74c3c;
    padding: 90px;
}
/* footer img {
    display: flex;
    align-items: end;
} */

/* DEUXIEME PAGE  */
/* Premiere section */
 .section-preniere{
    background-image: url(../img/hero-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}
 .section-preniere i {
    color: red;
 }